@import "tailwindcss";
@plugin "@shrutibalasa/tailwind-grid-auto-fit";

@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    @apply bg-silver-800 text-silver-50;
  }

  body {
    @apply h-full min-h-dvh w-screen overflow-x-hidden;
  }
}

@theme inline {
  --animate-border-spin: border-spin 10s linear infinite;
  --color-silver-50: hsl(0, 0%, 96%);
  --color-silver-100: hsl(240, 1%, 88%);
  --color-silver-200: hsl(220, 2%, 74%);
  --color-silver-300: hsl(220, 2%, 58%);
  --color-silver-400: hsl(220, 3%, 39%);
  --color-silver-500: hsl(222, 14%, 15%);
  --color-silver-600: hsl(220, 14%, 11%);
  --color-silver-700: hsl(220, 15%, 8%);
  --color-silver-800: hsl(220, 15%, 5%);
  --color-silver-900: hsl(220, 14%, 2%);
  --color-silver-950: hsl(0, 0%, 0%);
}

@layer utilities {
  @keyframes border-spin {
    to {
      --gradient-angle: 360deg;
    }
  }
}